@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
  
  /* Brand Colors */
  --color-brand-primary: #379237;
  --color-brand-secondary: #54B435;
  --color-brand-tertiary: #82CD47;
  --color-brand-accent: #F0FF42;
  --color-brand-dark: #143614;
}

:root {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
}

html, body {
  height: 100%;
}
