@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
  
  /* Brand Colors */
  --color-brand-primary: #379237;
  --color-brand-secondary: #54B435;
  --color-brand-tertiary: #82CD47;
  --color-brand-accent: #F0FF42;
  --color-brand-dark: #143614;

  /* Font Families */
  --font-sans: var(--font-geist-sans), sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
}

:root {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
}

html, body {
  height: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
